<div>
    <h2>pay-calculator</h2>

    <div class="panel col-md-6">
        <p>Base salary:</p><input type="number" ng-model="calc.baseSalary">
        <p>Savings:</p><input type="number" ng-model="calc.savings" >
        <p>Student loan:</p><input type="number" ng-model="calc.studentLoan">
    </div>

    <div class="panel col-md-6">
        <p>Base pay: {{calc.baseSalary | currency: "£"}}</p>
        <p>Tax: {{calc.taxToPay() | currency: "£"}}</p>
        <p>Monthly pay: {{calc.getMonthPay() | currency: "£"}}</p>
        <p>Monthly tax: {{calc.getMonthlyTax() | currency: "£"}}</p>

        <p>Initial savings: {{calc.savings | currency: "£"}}</p>

        <p>Student loan: {{calc.studentLoan | currency: "£"}}</p>

        <p>National insurance: {{calc.nationalInsurance() | currency: "£"}}</p>

        <p>Take home: {{calc.payInPocket() | currency: "£"}}</p>
        <p>Take home monthly: {{calc.payInPocketMonthly() | currency: "£"}}</p>
    </div>

    <div class="panel col-md-6">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
