<div>
    <h2>pay-calculator</h2>

    <div class="panel col-md-6">
        <p>Base salary:</p><input type="number" ng-model="baseSalary">
        <p>Savings:</p><input type="number" ng-model="savings" >
        <p>Student loan:</p><input type="number" ng-model="studentLoan">
    </div>

    <div class="panel col-md-3">
        <h3>Summary</h3>

        <canvas id="doughnut" class="chart chart-doughnut" data="data"
                labels="labels"></canvas>
        <button type="button" class="btn btn-primary pull-right" ng-click="newPie()">New Pie</button>
    </div>

    <div class="panel col-md-6">
        <h3>Pay</h3>
        <p>Base pay: {{baseSalary | currency: currency}}</p>
        <p>Monthly pay: {{getMonthPay() | currency: currency}}</p>

        <p>Take home: {{payInPocket() | currency: "£"}}</p>
        <p>Take home monthly: {{payInPocketMonthly() | currency: currency}}</p>
    </div>

    <div class="panel col-md-6">
        <h3>Tax, NI and student loans</h3>
        <p>Tax: {{taxToPay() | currency: currency}}</p>
        <p>Monthly tax: {{getMonthlyTax() | currency: currency}}</p>
        <p>Student loan: {{studentLoan | currency: currency}}</p>
        <p>National insurance: {{nationalInsurance() | currency: currency}}</p>

    </div>

    <div class="panel col-md-6">
        <h3>Rent, tube travel, etc</h3>
        <p>Rent: {{rent | currency: currency}}</p>
        <p>Travel card: {{travelCard | currency: currency}}</p>
    </div>

    <div class="panel col-md-6">
        <h3>Savings</h3>
        <p>Initial savings: {{savings | currency: currency}}</p>
    </div>

</div>
